<footer>
  <div class="container">
<div class="separatoryellow"></div>
    <div class="societyandcontacts">
      <div class="containerleft">
        <p class="title">COGIP</p>
      </div>
    <div class="containerright">
      <section class="adress">
        <img src="assets/img/location.png" alt="">
        <p>Square des Martyrs, 6000 Charleroi</p>
      </section>
      <div class="phoneandfax">
      <section class="phone">
        <img src="assets/img/phone.png" alt="">
        <p class="fixe">(123) 456-7890</p>
      </section>
      <section class="fax">
        <img src="assets/img/fax.png" alt="">
        <p>(123) 456-7890</p>
      </section>
        </div>
      <section class="socialmedia">
        <p id="rs">Social Media</p>
        <div class="logos">
        <img src="assets/img/fb.png" alt="">
        <img src="assets/img/Twitter.png" alt="">
        <img src="assets/img/LinkedIn.png" alt="">
        <img src="assets/img/Youtube.png" alt="">
        <img src="assets/img/Instagram.png" alt="">
        <img src="assets/img/GooglePlus.png" alt="">
        <img src="assets/img/Pinterest.png" alt="">
        <img src="assets/img/RSS.png" alt="">
          </div>
      </section>
    </div>
      </div>
<div class="separatorblue"></div>
  <ul>
    <li id="home">HOME</li>
    <li id="invoices">INVOICES</li>
    <li id="companies">COMPANIES</li>
    <li id="contacts">CONTACTS</li>
    <li id="privacypolicy">PRIVACY POLICY</li>
    <li>Copyright © 2025 • COGIP Inc.</li>
  </ul>
    </div>
</footer>
