* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section_tables {
  width: 82.847%;
  margin-left: 9.444%;
  height: fit-content;
  /* margin-bottom: 2.688rem; */

}

h1 {
    background: black;
    color: white;
  }

h2 {
  margin-bottom: 5.063rem;
  font-weight: 900;
  font-size: 60px;
  font-family: Inter;
  margin-left: 13px;
}
