<table class="table_column">
  <thead class="thead_column">
    <tr>
      <th class="th_column" *ngFor="let col of column">{{ col.label }}</th>
    </tr>
  </thead>
  <tbody>
    <tr class="tr_column">
      <td>Raviga</td>
      <td>US456 654 321</td>
      <td>United States</td>
      <td>Supplier</td>
      <td>25/09/2020</td>
    </tr>
    <tr class="tr_column">
      <td>grey</td>
      <td>grey</td>
      <td>grey</td>
      <td>grey</td>
      <td>eeee</td>
    </tr>
  </tbody>
</table>

