.section_info {
  display: flex;
  justify-content: space-between;
  width: 90.984%;
  height: 432px;
  margin-left:9.016%;
  margin-top: 86px;
  margin-bottom: 147px;
}

.text_info {
  font-size: 68px;
  font-weight: 900;
  font-family: Inter;
  margin-top: 104px;
  margin-right: 1.927%;
}

.image_info {
  width: 48.188rem;
  height: 27.125rem;
  margin-top: 1.563rem;
  background-image: url("../../../assets/images/Rectangle_17.png");
  background-repeat: no-repeat;
}

.phone_image_info {
  width: 30.375rem;
  height: 384px;
  margin-left: 13.318rem;
  position: relative;
  bottom: 1.563rem;
  background-image: url("../../../assets/images/DrawKit_Vector_Illustration.png");
  background-repeat: no-repeat;
}
