<div class="formcontainer">
  <div *ngFor="let field of formFields[activeFormKey]" class="form-group">
    <label>{{ field.label }}</label>

    <ng-container [ngSwitch]="field.type">
      <input *ngSwitchCase="'text'" [(ngModel)]="field.inputValue" [placeholder]="field.placeholder" type="text" name="{{field.label}}"/>
      <input *ngSwitchCase="'email'" [(ngModel)]="field.inputValue" [placeholder]="field.placeholder" type="email" name="{{field.label}}"/>
      <input *ngSwitchCase="'tel'" [(ngModel)]="field.inputValue" [placeholder]="field.placeholder" type="tel" name="{{field.label}}"/>
      <input *ngSwitchCase="'date'" [(ngModel)]="field.inputValue" [placeholder]="field.placeholder" type="date" name="{{field.label}}"/>
      <select *ngSwitchCase="'select'" [(ngModel)]="field.selectedOption" name="{{field.label}}">
        <option *ngFor="let option of field.options" [value]="option">{{ option }}</option>
      </select>
    </ng-container>
  </div>

  <button (click)="submitForm()">Submit</button>
</div>
