<section class="header">
  <h1 id="title"><a routerLink="/home">COGIP</a></h1>
  <h2 id="login"><a routerLink="/login">Login</a></h2>
</section>

<section class="register">
<div class="formcontainer">
  <h2 id="register_title">Register</h2>
<form action="" method="get">
  <input type="text" placeholder="Prénom">
  <br>
  <input type="text" placeholder="Nom">
  <br>
  <input type="date" placeholder="Date de naissance (jj/mm/aaaa)">
  <br>
  <input type="text" placeholder="Mot de passe">
  <br>
  <input type="text" placeholder="Comfirmer le mot de passe">
  <br>
  <input class="submit" type="submit" name="submit" routerLink="/dashboard">
</form>
</div>
</section>
